<div class="home-intro">
  <h5 class="meta-title">Hello, I'm Shreyas Segu ⸻</h5>
  <div class="jumbo">
    I'm a Specialized Generalist. I draw boxes, and I write code
  </div>
  <div class="home-sub-text">
    <h3>
      Currently working as a Software Engineer at
      <a href="https://kenkohealth.in/" target="_blank">Kenko Health</a>.
      <br />
      You can contact me on Linkedin for Consultation(Backend, tooling and
      Architecture), or just to say Hi!
    </h3>
  </div>

  <div class="home-sub-text">
    <p>
      I specialize in building Cloud Native backend systems at scale. HLD, LLD,
      development, testing, CI/CD, and cloud infrastructure is my forté. Capable
      of product delivery end to end.
      <br />
      <br />
      I've worked on all projects, from small internal tools to platforms
      catering to hundreds of concurrent requests per second.
      <br />
      <br />
      As an aspiring Architect, I have a proven track record of designing and
      implementing scalable and reliable systems that support high-volume
      workloads while balancing trade-offs between performance, scalability, and
      cost.
      <br />
      <br />
      As a software engineer, I have extensive experience in developing
      cloud-native applications that leverage containerization and orchestration
      technologies. I am skilled in using Agile and DevOps methodologies to
      build and deploy applications quickly and efficiently, and have experience
      working with cross-functional teams to gather requirements and design
      systems that meet business needs. My expertise includes writing
      high-quality code and performing unit testing and integration testing. I
      am also skilled in using CI/CD tools to automate the build, test, and
      deployment process.
    </p>
  </div>
</div>
