<div class="home-intro">
  <h5 class="meta-title">Hello, I'm Shreyas Segu ⸻</h5>
  <div class="jumbo">
    I'm a Specialized Generalist.I draw boxes, and I write code
  </div>
  <div class="home-sub-text">
    <h3>
      Currently working as a Software Engineer at
      <a href="https://kenkohealth.in/" target="_blank">Kenko Health</a>. My
      <a href="/notes">knowledge archive</a> is public, top lists are
      <a href="/lists">here</a>
    </h3>
  </div>
</div>

<div class="home-intro">
  <div class="home-sub-text">
    <h3>
      Interested in working on the cutting edge technologies, across all parts
      of the SDLC including but not limited to the Front-end, Back-end, Testing,
      Devops and Infrastructure. Capable of product delivery end-to-end.
    </h3>
  </div>
</div>
